.notes-header {
    margin-bottom: 40px;
    padding: 20px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    background: #fff;
}

.notes-header-title {
    margin: 0;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: -0.4px;
    color: rgba(0,0,0,0.54);
}

.notes-editor {
    margin-bottom: 40px;
}

.notes-editor-textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.14);
    background: #fff;
    font-size: 15px;
    outline: 0;
    resize: none;
}

.notes-editor-actions {
    display: flex;
    margin-top: 25px;
}

.notes-editor-btn {
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    margin-left: auto;
    padding: 0 35px;
    border: 0;
    outline: 0;
    border-radius: 150px;
    font-size: 14px;
    background: #7953b5;
    color: #fff;
    cursor: pointer;
    transition: .2s background;
}

.notes-editor-btn:hover {
    background: #6d48a7;
}

.notes-content {
    margin-bottom: 40px;
}

.notes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -20px 0 0 -20px;
}

.notes-item {
    box-sizing: border-box;
    width: calc(33.333% - 20px);
    margin: 20px 0 0 20px;
    padding: 20px;
    background: yellowgreen;
}
